.box-song-item{
  position: relative;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #273469;
  cursor: pointer;
  transition: 400ms background-color linear;
}
.box-song-item a{
  color: #C2E812;

}
.box-song-item:hover{
  background-color: yellow;
}
.box-song-item:hover a{
  color: black;
}
.selected a{
  color: #FFA400;
}

.box-author{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}