.box-audio-controller{
  position: absolute;
  top: 70%;
  left: 0;
  
  width: 100%;
  height: 30%;
  
  background-color: yellow;
}
/* play button */
.play-pause {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;

  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 100px;

  border-color: transparent transparent transparent #202020;
  border-style: solid;
  border-width: 50px 0 50px 70px;

  transition: 100ms all ease;
  cursor: pointer;
}
.play-pause.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
}
.play-pause:hover {
  border-color: transparent transparent transparent #ff0099;
}

/* forward button */
.ff-outer{
  position: absolute;
  top: 50%;
  left: 110px;
}
.ff {
  position: absolute;
  transform: translateY(-50%);

  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 100px;

  border-color: transparent transparent transparent #202020;
  border-style: solid;
  border-width: 50px 0 50px 70px;

  transition: 100ms all ease;
  cursor: pointer;
}
.ff-outer:hover .ff{
  border-color: transparent transparent transparent #ff0099;
}

.ff1{
  left: 0;
}
.ff2{
  left: 30px;
}

/* bar progress */
.bar-outer{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 230px;

  width: calc(100% - 240px);
  height: 10px;

  border-radius: 25px;

  background-color: black;
  cursor: pointer;
}
.bar{
  position: absolute;
  
  left: 5px;
  top: 3px;
  width: calc(100% - 10px);
  height: 4px;

  box-sizing: border-box;
  border-radius: 5px;

  transition: width .1s linear;
  background-color: red;

  pointer-events: none;
}
.bar-in{
  position: absolute;
  width: 0%;
  height: 4px;

  border-radius: 5px;

  transition: 100ms all ease;
  transition: width .1s linear;

  background-color: blue;
  pointer-events: none;
}